<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SerialTerminal.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value />
            </setting>
            <setting name="IsLogToFileEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsWordWrapEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsLocalEchoEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsShowNonPrintableCharsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EOLConsoleSettings" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>...</value>
            </setting>
            <setting name="SendingMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CmdAppendEOL" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsSpecialCharReplyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoSendingInterval" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="AutoSendingSpecialChar" serializeAs="String">
                <value>*</value>
            </setting>
            <setting name="EOLCmdSettings" serializeAs="String">
                <value>1</value>
            </setting>
        </SerialTerminal.Properties.Settings>
    </userSettings>
</configuration>