<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SerialTerminal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SerialTerminal.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <SerialTerminal.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="PortBaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
            <setting name="EOLMark" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RedrawIntervalMs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="TerminalWordWrap" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalEcho" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowNPCEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReplaceHexTagsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PortDatabits" serializeAs="String">
                <value>Eight</value>
            </setting>
            <setting name="PortStopBits" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="PortParity" serializeAs="String">
                <value>None</value>
            </setting>
        </SerialTerminal.Properties.Settings>
        <SerialTerminal.AppSettings>
            <setting name="PortName" serializeAs="String">
                <value />
            </setting>
            <setting name="PortBaudRate" serializeAs="String">
                <value />
            </setting>
        </SerialTerminal.AppSettings>
    </userSettings>
</configuration>